basics/lab5_node_red.json
[{"id":"43f52d1d.7322a4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"34f628d0.c1c068","type":"inject","z":"43f52d1d.7322a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":".1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":180,"wires":[["dd2a7987.7f46a8","2a56906f.c3bce","3b8307a4.809528","e43023.6279dfe","e682c3bb.e5505"]]},{"id":"7a1bbc1a.b6e8c4","type":"ui_chart","z":"43f52d1d.7322a4","name":"","group":"fc5da95c.45ff08","order":1,"width":0,"height":0,"label":"Forward Velocity (m/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-.5","ymax":".5","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":540,"y":120,"wires":[[]]},{"id":"649ff255.7fe3dc","type":"ui_chart","z":"43f52d1d.7322a4","name":"","group":"fc5da95c.45ff08","order":2,"width":0,"height":0,"label":"Angular Velocity (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-3.5","ymax":"3.5","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":550,"y":200,"wires":[[]]},{"id":"dd2a7987.7f46a8","type":"file in","z":"43f52d1d.7322a4","name":"Robot Voltage","filename":"/tmp/rahbit_volts.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":320,"y":480,"wires":[["c00beef3.bc67a"]]},{"id":"c00beef3.bc67a","type":"ui_gauge","z":"43f52d1d.7322a4","name":"","group":"84822035.f1165","order":2,"width":0,"height":0,"gtype":"gage","title":"Robot Voltage","label":"Volts","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":480,"wires":[]},{"id":"2a56906f.c3bce","type":"file in","z":"43f52d1d.7322a4","name":"","filename":"/tmp/thetadot.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":320,"y":200,"wires":[["649ff255.7fe3dc"]]},{"id":"3b8307a4.809528","type":"file in","z":"43f52d1d.7322a4","name":"","filename":"/tmp/xdot.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":120,"wires":[["7a1bbc1a.b6e8c4"]]},{"id":"e43023.6279dfe","type":"file in","z":"43f52d1d.7322a4","name":"","filename":"/tmp/phil.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":280,"wires":[["bc23fab4.ced048"]]},{"id":"e682c3bb.e5505","type":"file in","z":"43f52d1d.7322a4","name":"","filename":"/tmp/phir.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":340,"wires":[["6c964b9.ca182b4"]]},{"id":"bc23fab4.ced048","type":"ui_chart","z":"43f52d1d.7322a4","name":"","group":"1da1216b.7ad4bf","order":2,"width":0,"height":0,"label":"Right wheel speed (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":600,"y":280,"wires":[[]]},{"id":"6c964b9.ca182b4","type":"ui_chart","z":"43f52d1d.7322a4","name":"","group":"1da1216b.7ad4bf","order":1,"width":0,"height":0,"label":"Left Wheel Speed (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":600,"y":340,"wires":[[]]},{"id":"fc5da95c.45ff08","type":"ui_group","name":"Chassis Speeds","tab":"d5ae978b.f3fa78","order":2,"disp":true,"width":"6","collapse":false},{"id":"84822035.f1165","type":"ui_group","name":"Robot Diagnostics","tab":"d5ae978b.f3fa78","order":1,"disp":true,"width":"6","collapse":false},{"id":"1da1216b.7ad4bf","type":"ui_group","name":"Wheel Speed","tab":"d5ae978b.f3fa78","order":3,"disp":true,"width":"6","collapse":false},{"id":"d5ae978b.f3fa78","type":"ui_tab","name":"Encoders and forward kinematics ","icon":"dashboard","order":5,"disabled":false,"hidden":false}]