Node-RED_Flows/lab 6_flows .json
[{"id":"2ad10ae0.8c7996","type":"tab","label":"Lab 6","disabled":false,"info":""},{"id":"b68fb99f.a4b148","type":"inject","z":"2ad10ae0.8c7996","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":240,"wires":[["c654b940.279398","dabcb8c2.c994a8","572f660.a0f779c","28606e6b.5c6c22","ed56925f.92706"]]},{"id":"c654b940.279398","type":"file in","z":"2ad10ae0.8c7996","name":"","filename":"/tmp/m.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":180,"wires":[["b1b8bd11.5956d"]]},{"id":"dabcb8c2.c994a8","type":"file in","z":"2ad10ae0.8c7996","name":"","filename":"/tmp/deg.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":240,"wires":[["e986a6f8.202158"]]},{"id":"572f660.a0f779c","type":"file in","z":"2ad10ae0.8c7996","name":"","filename":"/tmp/rahbit_volts.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":120,"wires":[["dee3de24.aa87c"]]},{"id":"dee3de24.aa87c","type":"ui_gauge","z":"2ad10ae0.8c7996","name":"","group":"265bf3fa.1a225c","order":0,"width":0,"height":0,"gtype":"gage","title":"Battery Voltage","label":"Voltage","format":"{{value}}","min":0,"max":"12","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":120,"wires":[]},{"id":"e986a6f8.202158","type":"ui_gauge","z":"2ad10ae0.8c7996","name":"","group":"1c438996.a941d6","order":1,"width":0,"height":0,"gtype":"compass","title":"Heading","label":"Degrees","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":240,"wires":[]},{"id":"b1b8bd11.5956d","type":"ui_chart","z":"2ad10ae0.8c7996","name":"","group":"1c438996.a941d6","order":0,"width":0,"height":0,"label":"Distance (m)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":180,"wires":[[]]},{"id":"9f2ee21c.97669","type":"ui_chart","z":"2ad10ae0.8c7996","name":"","group":"1b0a138d.70af1c","order":0,"width":0,"height":0,"label":"X Axis (m)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2.5","ymax":"2.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":300,"wires":[[]]},{"id":"9dfdcb6.bf06b38","type":"ui_chart","z":"2ad10ae0.8c7996","name":"","group":"1b0a138d.70af1c","order":1,"width":0,"height":0,"label":"Y Axis (m)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2.5","ymax":"2.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":360,"wires":[[]]},{"id":"28606e6b.5c6c22","type":"file in","z":"2ad10ae0.8c7996","name":"","filename":"/tmp/x.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":300,"wires":[["9f2ee21c.97669"]]},{"id":"ed56925f.92706","type":"file in","z":"2ad10ae0.8c7996","name":"","filename":"/tmp/y.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":360,"wires":[["9dfdcb6.bf06b38"]]},{"id":"265bf3fa.1a225c","type":"ui_group","name":"Voltage","tab":"1bcb88a.71ae477","order":1,"disp":true,"width":"6","collapse":false},{"id":"1c438996.a941d6","type":"ui_group","name":"Polar Coordinates","tab":"1bcb88a.71ae477","order":2,"disp":true,"width":"6","collapse":false},{"id":"1b0a138d.70af1c","type":"ui_group","name":"Cartesian Coordinates","tab":"1bcb88a.71ae477","order":3,"disp":true,"width":"6","collapse":false},{"id":"1bcb88a.71ae477","type":"ui_tab","name":"Lab 6: Lidar","icon":"dashboard","order":7,"disabled":false,"hidden":false}]